# tested in python==3.6.6
numpy==1.14.5
scipy==1.1.0
tensorflow==1.10.0 # to do... compatible with latest tf and tf-gpu
tensorboard==1.10.0
networkx==2.3
gensim==3.7.3
scikit-learn==0.19.0 # to do... compatible with >0.20
pandas==0.23.0
psutil==5.6.3

# Enable GPU:
# If using anaconda, run `conda install tensorflow-gpu==1.10.0`

# For cuda driver compatibility: https://docs.nvidia.com/deploy/cuda-compatibility/index.html
# For example, if driver version is 384.xx then also install cudatoolkit==9.0

# Or simply build from docker image: docker pull tensorflow/tensorflow:1.10.0-gpu-py3
# ref: https://www.tensorflow.org/install/docker#gpu_support


'''
Package         Version
--------------- --------
absl-py         0.7.1
astor           0.8.0
boto            2.49.0
boto3           1.9.160
botocore        1.12.160
certifi         2019.3.9
chardet         3.0.4
decorator       4.4.0
docutils        0.14
gast            0.2.2
gensim          3.7.3
grpcio          1.21.1
idna            2.8
jmespath        0.9.4
Markdown        3.1.1
mkl-fft         1.0.12
mkl-random      1.0.2
networkx        2.3
numpy           1.14.5
pandas          0.23.0
pip             19.1.1
protobuf        3.8.0
psutil          5.6.3
python-dateutil 2.8.0
pytz            2019.1
requests        2.22.0
s3transfer      0.2.0
scikit-learn    0.19.0
scipy           1.1.0
setuptools      39.1.0
six             1.12.0
smart-open      1.8.4
tensorboard     1.10.0
tensorflow      1.10.0
termcolor       1.1.0
urllib3         1.25.3
Werkzeug        0.15.4
wheel           0.33.4
'''